@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  background-color: darkred;
}
.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-image: linear-gradient(to right, black, gray);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.fundo {
  position: relative;
  border: 2px solid black;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 300px;
  background-color: rgb(125, 126, 129);
  text-align: center;
}
.titulo {
  font-family: "Comfortaa";
  color: white;
  font-size: 1.2rem;
}
.painel {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
}
#div2 {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
  width: 40px;
  height: 52px;
}
#div1 {
  position: absolute;
  top: 200px;
  left: 70px;
  z-index: 1;
  width: 50px;
  height: 50px;
}
#tbf {
  position: absolute;
  left: 80%;
  z-index: 0;
}
button {
  background-color: black;
  color: white;
  box-shadow: 3px 3px 3px black;
  margin: 3px;
  transition: transform 0.4;
  font-weight: 600;
  padding: 3px;
}
#naoclica {
  animation: aaa 5s linear infinite;
}
@keyframes aaa {
  from {
    color: rgba(245, 19, 8, 255);
  }
  14.6% {
    color: rgba(243, 142, 51, 255);
  }
  29.2% {
    color: rgba(245, 244, 1, 255);
  }
  43.8% {
    color: rgba(105, 203, 60, 255);
  }
  58.4% {
    color: rgba(25, 210, 234, 255);
  }
  73% {
    color: rgba(0, 101, 204, 255);
  }
  87.5% {
    color: rgba(151, 53, 152, 255);
  }
  100% {
    color: rgba(245, 19, 8, 255);
  }
}
button:hover {
  transform: scaleX(1.1);
}
@media (max-width: 600px) {
  .container {
    width: 300px;
  }
  .fundo {
    width: 300px;
  }
  button {
    padding: 10px;
  }
  #tbf {
    left: 65%;
  }
  #div1 {
    width: 40px;
    height: 40px;
  }
  #div2 {
    width: 32px;
    height: 42px;
  }
}
